/*Utilizando o google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

/*
<!-- Formatando todas as div's de vez-->
div {
    width: 100%;
    height: 100px;
    background-color: burlywood;
    margin-bottom: 10px;
}
*/

body {
    font-family: 'Roboto Mono', monospace;
}

#header {
    width: 100%;
    height: 200px;
    background-color: burlywood;
    color: whitesmoke;
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 100px;
}

#nav {
    width: 100%;
    height: 40px;
    background-color: orange;
    margin-bottom: 20px;
}

.conteiner {
    display: flex;
    justify-content: space-between;
}

#caixa1, #caixa2, #caixa3 {
    width: 32%;
    height: auto;
    background-color: burlywood;
}

.box {
    display: flex;
    justify-content: center;
}

.imagem {
    width: 100%;
}

.texto {
    padding: 40px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: orange;
    margin-top: 20px;
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    padding-top: 150px;
}

.menu {
    font-weight: 700;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    padding-top: 7px;
}

a {
    font-weight: 700;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.barra:hover {
    color: gray;
    border: solid 2px gray;
}